In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import sklearn
from sklearn.metrics import accuracy_score,jaccard_similarity_score,r2_score,classification_report,confusion_matrix,log_loss
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [ ]:
#Click here and press Shift+Enter
!wget -O ChurnData.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/ChurnData.csv

--2020-09-25 15:54:19--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/ChurnData.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36144 (35K) [text/csv]
Saving to: ‘ChurnData.csv’

ChurnData.csv       100%[===================>]  35.30K  --.-KB/s    in 0.02s

2020-09-25 15:54:20 (2.22 MB/s) - ‘ChurnData.csv’ saved [36144/36144]

In [ ]:
df = pd.read_csv('ChurnData.csv')
df.head()

   tenure   age  address  income   ed  ...  loglong  logtoll  lninc  custcat  churn
0    11.0  33.0      7.0   136.0  5.0  ...    1.482    3.033  4.913      4.0    1.0
1    33.0  33.0     12.0    33.0  2.0  ...    2.246    3.240  3.497      1.0    1.0
2    23.0  30.0      9.0    30.0  1.0  ...    1.841    3.240  3.401      3.0    0.0
3    38.0  35.0      5.0    76.0  2.0  ...    1.800    3.807  4.331      4.0    0.0
4     7.0  35.0     14.0    80.0  2.0  ...    1.960    3.091  4.382      3.0    0.0

[5 rows x 28 columns]

In [ ]:
df['churn'] = df['churn'].astype(int)

In [ ]:
df.head()
x = np.asarray(df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip']])

In [ ]:
y = np.asarray(df['churn'])

In [ ]:
x= preprocessing.StandardScaler().fit(x).transform(x)

In [ ]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size = 0.2,random_state= 4)

In [ ]:
model = LogisticRegression(C=0.001,solver='liblinear').fit(x_train,y_train)

In [ ]:
y_hat_test = model.predict(x_test)

In [ ]:
probe  = model.predict_proba(x_test)

In [ ]:
probe

array([[0.5055063 , 0.4944937 ],
       [0.51347317, 0.48652683],
       [0.50602462, 0.49397538],
       [0.52000045, 0.47999955],
       [0.50661998, 0.49338002],
       [0.50673336, 0.49326664],
       [0.49839547, 0.50160453],
       [0.51405871, 0.48594129],
       [0.48122787, 0.51877213],
       [0.51944971, 0.48055029],
       [0.51298723, 0.48701277],
       [0.52293885, 0.47706115],
       [0.48984113, 0.51015887],
       [0.48407622, 0.51592378],
       [0.52861954, 0.47138046],
       [0.5092273 , 0.4907727 ],
       [0.50191901, 0.49808099],
       [0.49233906, 0.50766094],
       [0.49487978, 0.50512022],
       [0.49864676, 0.50135324],
       [0.51699424, 0.48300576],
       [0.50364772, 0.49635228],
       [0.51953823, 0.48046177],
       [0.50404011, 0.49595989],
       [0.49833478, 0.50166522],
       [0.5372498 , 0.4627502 ],
       [0.51029376, 0.48970624],
       [0.50165227, 0.49834773],
       [0.49767905, 0.50232095],
       [0.53805393, 0.46194607],
       [0.53085802, 0.46914198],
       [0.49680953, 0.50319047],
       [0.48384828, 0.51615172],
       [0.541238  , 0.458762  ],
       [0.51133426, 0.48866574],
       [0.52415747, 0.47584253],
       [0.47923057, 0.52076943],
       [0.49918054, 0.50081946],
       [0.52934951, 0.47065049],
       [0.49801967, 0.50198033]])

In [ ]:
jaccard_similarity_score(y_hat_test,y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

0.725

In [ ]:
print(classification_report(y_test,y_hat_test))

              precision    recall  f1-score   support

           0       0.77      0.80      0.78        25
           1       0.64      0.60      0.62        15

    accuracy                           0.73        40
   macro avg       0.71      0.70      0.70        40
weighted avg       0.72      0.72      0.72        40

In [ ]:
log_loss(y_hat_test,y_test)

9.498283448214966